<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Streaming With Node</title>
    <style>
      body {
        margin: 5% auto;
        max-width: 100%;
        background-color: rgb(14, 14, 14);
        padding-top: 10%;
        padding-left: 35%;
      }
    </style>
  </head>

  <body>
    <video id="videoPlayer" width="50%" controls autoplay>
      <source
        src="http://localhost:3000/stream/bWFnbmV0Oj94dD11cm46YnRpaDozZTNlNWI3ZDU5MTg3ZGMyMTUwYzRkOTY4MDUyZTFiMzI5NzI4Mzc1JmRuPXJ1dG9yLmluZm9fJUQwJTk4JUQwJUIzJUQxJTgwJUQwJUIwKyVEMCVCRiVEMSU4MCVEMCVCNSVEMSU4MSVEMSU4MiVEMCVCRSVEMCVCQiVEMCVCRSVEMCVCMislMkYrR2FtZStvZitUaHJvbmVzKyU1QlMwMS0wOCU1RCslMjgyMDExLTIwMTklMjkrQkRSaXArNzIwcCslN0MrTG9zdEZpbG0mdHI9dWRwOi8vb3BlbnRvci5uZXQ6Njk2OSZ0cj1odHRwOi8vcmV0cmFja2VyLmxvY2FsL2Fubm91bmNl/R2FtZS5vZi5UaHJvbmVzLnMwNWUwMi4oNzIwcCkudGFoaXkubWt2"
        type="video/mp4"
      />
    </video>
  </body>
</html>
